.thead-primary{
    background-color: #11998e;
    border-bottom: 6px solid #f8f9fd;
    height: 70px;
}

.marks-heading{
    font-weight: 600;
    text-decoration: underline #11998e;
}

.table tbody th, .table tbody td {
    padding: 25px 30px;
    border-bottom: 5px solid #f8f9fd;
    font-size: 14px;
}

.table-wrap{
    overflow: scroll;
}

.checked {
    color: orange;
  }

  .submit-btn{
    background-color: #11998e;
    color: white;
  }

  .submit-btn:hover{
    background-color: white;
    color: #11998e;
    border: 1px solid #11998e;
  }

  .submit-press{
    border: 1px solid #000;

  }

  .submit-press1{
    border: 1px solid #000;
    display: flex;
  }


  /* .form-update1{
    border: 1px solid rgba(46, 45, 45, 0.15);
    background-color: rgb(129, 129, 129,0.15);
  } */

  .form-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(46, 45, 45, 0.15);
    background-color: rgb(129, 129, 129,0.15);
  }

  .form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  